@model business.Pagina

@{
    /**/

    /**/

    ViewBag.Title = "Renderizar";

    Layout = "~/Views/Shared/_Render.cshtml";

    string valor = ViewBag.html;
}

<style media="screen and (min-width: 0px)">
    #exampleModalLong {
        width: 90%;
    }

    #exampleModalLong2 {
        width: 100%;
    }
</style>

<style media="screen and (min-width: 250px)">
    #exampleModalLong {
        left: 20%;
        width: 70%;
    }

    #exampleModalLong2 {
        width: 100%;
    }
</style>

<style media="screen and (min-width: 500px)">
    #exampleModalLong {
        left: 50%;
        width: 50%;
    }

    #exampleModalLong2 {
        width: 100%;
    }
</style>

<style media="screen and (min-width: 775px)">
    #exampleModalLong {
        left: 70%;
        width: 30%;
    }

    #exampleModalLong2 {
        width: 100%;
    }
</style>

<style media="screen and (min-width: 1050px)">
    #exampleModalLong {
        left: 70%;
        width: 30%;
    }

    #exampleModalLong2 {
        width: 100%;
    }
</style>



<div class="content" data-id="">

    @Html.Raw(ViewBag.html);


</div>



<div class="modal fade" id="exampleModalLong" style="" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="conteudomodal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".close").click(function () {

                if ($("#Manter").is(':checked') == false) {
                    $(".Topo").css("border", "0");
                    $(".Menu").css("border", "0");
                    $(".bloco").css("border", "0");
                    $(".ClassDiv").css("border", "0");
                    $(".Textos").css("border", "0");
                    $(".Carrosel").css("border", "0");
                    $(".video").css("border", "0");
                    $(".bordaEsquerda").css("border", "0");
                    $(".bordaDireita").css("border", "0");
                    $(".row").css("border", "0");
                    $(".Conteudo").css("border", "0");
                    $(".Imagem").css("border", "0");
                    $(".Elemento").css("border", "0");
                }


            });
            $(".btn-secondary").click(function () {
                if ($("#Manter").is(':checked') == false) {
                    $(".Topo").css("border", "0");
                    $(".Menu").css("border", "0");
                    $(".bloco").css("border", "0");
                    $(".ClassDiv").css("border", "0");
                    $(".Textos").css("border", "0");
                    $(".Carrosel").css("border", "0");
                    $(".video").css("border", "0");
                    $(".bordaEsquerda").css("border", "0");
                    $(".bordaDireita").css("border", "0");
                    $(".row").css("border", "0");
                    $(".Conteudo").css("border", "0");
                    $(".Imagem").css("border", "0");
                    $(".Elemento").css("border", "0");
                }
            });
        });
    </script>
</div>

<div class="modal fade" id="exampleModalLong2" style="" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle2"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="conteudomodal2"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>                  

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
            var timer;
            var el = $(".content");
            var condicao = 0;
            var x;
            var y;
            var z;
            var substring = "ClassDiv";


            el.click(function () {

                z = event.target;
                y = event.target;
                x = event.target.className;



                if (timer) clearTimeout(timer);
                timer = setTimeout(function () {
                    condicao = 1;
                },
                    300);

            });

            el.dblclick(function () {
                z = event.target;
                y = event.target;
                x = event.target.className;

                clearTimeout(timer);
                condicao = 2;

            });

            setInterval(verifica, 1000);

            function verifica() {
                if (condicao != 0) {

                    if (condicao == 1) {

                        if (y.tagName == "DIV" && x.includes(substring)) {
                            var id = $("#" + y.id).data("value");
                            $("#" + y.id).css("border-style", "solid");
                            $("#" + y.id).css("border-width", "5px");
                            $("#" + y.parentElement.id).css("border-style", "solid");
                            $("#" + y.parentElement.id).css("border-width", "5px");
                            condicao = 0;
                            $("#conteudomodal").load("/Div/EditModal/" + id, function () {

                                $('#exampleModalLong').modal("show");
                            });
                        }

                        if (x == "Topo" || x == "Menu" || x == "bloco" || x == "bordaEsquerda" || x == "bordaDireita") {
                            var id = $("#" + y.id).data("value");
                            $("#" + y.id).css("border-style", "solid");
                            $("#" + y.id).css("border-width", "5px");
                            $("#" + y.parentElement.id).css("border-style", "solid");
                            $("#" + y.parentElement.id).css("border-width", "5px");
                            condicao = 0;                               

                            $("#conteudomodal").load("/Background/EditModal/" + id, function () {

                                $('#exampleModalLong').modal("show");
                            });

                            
                        }


                        if (x == "video grid-item" || x == "Textos grid-item") {
                            var id = $("#" + y.id).data("value");
                            var idElemento = $("#" + y.id).attr("data-id");
                            $("#" + y.id).css("border-style", "solid");
                            $("#" + y.id).css("border-width", "5px");
                            $("#" + y.parentElement.id).css("border-style", "solid");
                            $("#" + y.parentElement.id).css("border-width", "5px");
                            condicao = 0;
                            $("#conteudomodal").load("/Elemento/EditModal/" + idElemento, function () {

                                $('#exampleModalLong').modal("show");
                            });
                        }


                        if (x == "" || x == "carousel-inner" || x == "img-responsive" || x == "carousel-item ativo" || x == "img-responsive minhaimg") {
                            y = z;
                            while (y.className != "content") {
                                y = y.parentElement;

                                if (y.className == "content") {
                                    condicao = 0;
                                    break;
                                }

                                if (y.className == "Textos grid-item") {
                                    var id = $("#" + y.id).data("value");
                                    var idElemento = $("#" + y.id).attr("data-id");
                                    $("#" + y.id).css("border-style", "solid");
                                    $("#" + y.id).css("border-width", "5px");
                                    $("#" + y.parentElement.id).css("border-style", "solid");
                                    $("#" + y.parentElement.id).css("border-width", "5px");
                                    condicao = 0;
                                    $("#conteudomodal2").load("/Elemento/EditModal/" + idElemento, function () {
                                        $('#exampleModalLong2').modal("show");
                                    });
                                    break;
                                }

                                if (y.className == "Carrosel grid-item") {
                                    var id = $("#" + y.id).data("value");
                                    var idElemento = $("#" + y.id).attr("data-id");
                                    $("#" + y.id).css("border-style", "solid");
                                    $("#" + y.id).css("border-width", "5px");
                                    $("#" + y.parentElement.id).css("border-style", "solid");
                                    $("#" + y.parentElement.id).css("border-width", "5px");
                                    condicao = 0;
                                    $("#conteudomodal").load("/Elemento/EditModal/" + idElemento, function () {
                                        $('#exampleModalLong').modal("show");
                                    });
                                    break;
                                }

                                if (y.className == "Imagem grid-item") {
                                    var id = $("#" + y.id).data("value");
                                    var idElemento = $("#" + y.id).attr("data-id");
                                    $("#" + y.id).css("border-style", "solid");
                                    $("#" + y.id).css("border-width", "5px");
                                    $("#" + y.parentElement.id).css("border-style", "solid");
                                    $("#" + y.parentElement.id).css("border-width", "5px");
                                    condicao = 0;
                                    $("#conteudomodal").load("/Elemento/EditModal/" + idElemento, function () {
                                        $('#exampleModalLong').modal("show");
                                    });
                                    break;
                                }

                            }

                        }

                    }

                    if (condicao == 2) {

                        if (y.tagName == "DIV" && x.includes(substring)) {
                            $("#conteudomodal2").load("/Div/CreateModal/", function () {
                                $('#exampleModalLong2').modal("show");
                            });
                            x = "";
                            condicao = 0;
                        }

                        if (x == "Topo" || x == "Menu" || x == "bloco" || x == "bordaEsquerda" || x == "bordaDireita") {
                            $("#conteudomodal2").load("/Background/CreateModal/", function () {
                                $('#exampleModalLong2').modal("show");
                            });
                            x = "";
                            condicao = 0;
                        }

                        if (x == "video grid-item" || x == "Textos grid-item" || x == "img-responsive") {

                            $("#conteudomodal2").load("/Elemento/CreateModal/", function () {
                                $('#exampleModalLong2').modal("show");
                            });
                            x = "";
                            condicao = 0;
                        }

                        if (x == "" || x == "carousel-inner" || x == "carousel-item ativo" || x == "img-responsive minhaimg") {
                            y = z;
                            while (y.className != "content") {
                                y = y.parentElement;
                                if (y.className == "content") {
                                    condicao = 0;
                                    break;
                                }

                                if (y.className == "Textos grid-item") {

                                    $("#conteudomodal2").load("/Elemento/CreateModal/", function () {
                                        $('#exampleModalLong2').modal("show");
                                    });
                                    x = "Textos";
                                    condicao = 0;
                                    break;
                                }

                                if (y.className == "Carrosel grid-item") {

                                    $("#conteudomodal2").load("/Elemento/CreateModal/", function () {
                                        $('#exampleModalLong2').modal("show");
                                    });
                                    x = "Carrosel";
                                    condicao = 0;
                                    break;
                                }

                            }

                        }

                    }
                }
            }    



        });

    </script>

}


