
@{
    ViewBag.Title = "Blocos";
}

<h2>Blocos</h2>

<p>
    O elemento de divisão HTML <b>bloco</b>  é um container genérico para conteúdo de fluxo, que de certa forma não representa nada. Ele pode ser utilizado para agrupar elementos para fins de desing.
</p>

  <p> Os blocos podem ser de varios formatos. Quanto mais blocos mais a sua pagina pode ser enfeitada com os <a href="/Home/Planos_de_fundo/" >planos de fundo.</a>   </p>