
@{
    ViewBag.Title = "Layout";
}

<h2>Layout</h2>

<p>
    O que é Layout:
</p>
<p>
    Layout é uma palavra inglesa, muitas vezes usada na forma portuguesa "leiaute", que significa plano, arranjo, esquema, design, projeto.
</p>
<p>
    Na área da arte gráfica, o layout é um esboço ou rascunho que mostra a estrutura física de uma página de um jornal, revista ou página na internet (como um blogue, por exemplo). O layout engloba elementos como texto, gráficos, imagens e a forma como eles se encontram em um determinado espaço. O layout gráfico pressupõe o trabalho de um designer gráfico, que vai trabalhar no formato e números de página e suas margens, números de colunas de texto e outros aspectos relevantes.
</p>  
    

   <p>Layout pré definido do WebSiteNow: </p>  

<img src="~/imagem/Layout.jpg" class="img-responsive" width="800" /> 
