
@{
    ViewBag.Title = "Planos_de_fundo";
}

<h2>Planos de fundo</h2>

<p>
    O que é Background:
</p>
<p>
    Background é uma palavra em inglês que pode ter vários significados, entre eles experiência, fundo, antecedentes, plano de fundo, contexto, ambiente, circunstâncias, meio, educação, etc.
</p>
<p>
    Muitas vezes o background é descrito como um pano de fundo, ou seja, alguma coisa que está em segundo plano, mas que é perceptível. Ex: I could hear everything she said even though there was a lot of background noise. - Eu conseguia ouvir tudo o que ela dizia, mesmo com o ruído de fundo.
</p>
<p>
    No contexto da informática a palavra background muitas vezes remete para o plano de fundo, ou seja o papel de parede, a imagem que aparece no fundo do ambiente de trabalho ou de um site, por exemplo. Essa imagem de fundo que pode ser usado em alguns sites como Tumblr, Twitter, etc. Muitas dessas imagens são conhecidas como vector background, imagens que são feitas com pontos, linhas, curvas, que são fundamentadas em fórmulas matemáticas e apresentadas em gráficos de computador.
</p>
