
@{
    ViewBag.Title = "WebSiteNow";
}

<h2>WebSiteNow: como funciona?</h2>


<p>
    O WebSiteNow possui toda a estrutura de codigo para você construir seu site. 
</p>

<p>
    Nas paginas criadas e renderizadas no link <b>Mostrar pagina</b> você pode criar  e editar os elementos da pagina. (um clique para editar e dois cliques para criar).
</p>

<h1 class="text-danger">Atenção!!!</h1>

<p>
    Para a edição e criação de videos clicar na margem abaixo do video.
</p>
